.cartMain {
  background-color: rgb(53, 53, 53);
}
.cart-containner {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  background-color: white;
  margin-top: 60px;
}
.order-containner {
  flex: 2;
  min-height: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
}
.order-sum {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.order {
  margin: 20px;
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.048);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  transition: 0.2s;
}
.deleteIcon:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.order-qt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.qt-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yel);
  border-radius: 50%;
  margin-left: 5px;
  color: white;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
  user-select: none;
}
.qt-icon:hover {
  background-color: rgb(170, 154, 8);
  transition: 0.2s;
}
.qt-qt {
  height: 20px;
  width: 40px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: rgb(236, 236, 236);
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  padding: 5px;
}
.order-sum {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
  min-height: 500px;
  background-color: rgb(194, 194, 194);
  color: rgb(0, 0, 0);
}
.disable {
  background-color: rgb(160, 160, 160);
}
.order-title {
  font-size: 15px;
  flex: 2;
}
.order-price {
  flex: 1;
  color: var(--red);
}
.order-sum-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.order-sum-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.user-info-containner {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
  flex: 1;
  width: 100%;
  flex-basis: 100%;
  max-width: 1200px;
}
.form {
  padding: 20px;
  padding-bottom: 0px;
}
.form-title {
  width: auto;
  color: gray;
  font-size: 18px;
  margin-bottom: 40px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}
.map {
  border-radius: 10px;
  border-width: 1px;
  border-color: rgb(223, 223, 223);
  outline: none;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315); */
}
.button-containner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
  height: 100px;
  background-color: var(--yel);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.mapIframe {
  height: 400px;
  width: 400px;
}
@media screen and (max-width: 400px) {
  .cart-containner {
    flex-direction: column;
    padding-top: 40px;
    margin-top: 40px;
  }
  .order-containner {
    box-shadow: none;
  }
  .order {
    flex-wrap: wrap;
  }
  .order-title {
    margin-right: 5px;
  }
  .order-price {
    margin-right: 5px;
  }
  .qt-qt {
    width: 10px;
  }
  .order-sum {
    padding: 10px;
  }
  .mapIframe {
    height: 400px;
    width: 100%;
  }
}
