.main {
  height: 100vh;
}
.contact-containner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact-title {
  font-size: 30px;
  font-weight: bold;
}
.contact-subtitle {
  margin-top: 20px;
}
.contacts {
  display: flex;
  width: fit-content;
}
.contact-box {
  margin: 50px;
  margin-top: 100px;
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 30px;
  /* background-color: aqua; */
  background-color: rgb(224, 224, 224);
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 30px rgb(116, 116, 116);
  flex-direction: column;
}

.contact-img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 200px;
  z-index: 1;
  width: 200px;
  transition: 0.5s;
  border-radius: 30px;
}

.contact-box:hover .contact-img {
  height: 100px;
  width: 100px;
  left: -50px;
  top: -50px;
  border-radius: 10px;
  transition: 0.5s;
}
@media screen and (max-width: 400px) {
  .contacts {
    flex-direction: column;
  }
  .contact-containner {
    padding-top: 100px;
  }
  .contact-subtitle {
    padding: 20px;
    display: flex;
    text-align: center;
  }
}
