.Slider-containner {
  height: 600px;
  width: 100%;
  background-color: var(--gray);
  position: relative;
  display: flex;
  justify-content: center;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 20px 100px 50px #3b3b3b;
}

.slider {
  height: 100%;
  width: 100%;
  max-width: 1300px;
  display: flex;
}
.slider-content {
  margin-top: 150px;
  flex: 1;
  padding: 20px;
  display: block;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: flex-start;
}

.slider-image {
  flex: 1;
  max-width: 50%;
  width: 100%;
  padding-bottom: 20px;
  overflow: hidden;
  display: flex;
  scroll-behavior: smooth;
}
.slider-img-holder {
  min-width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.slider-image img {
  width: fit-content;
  max-width: 100%;
  height: fit-content;
}

.slider-subtitle {
  font-size: 20px;
  color: white;
}

.slider-title {
  color: var(--yel);
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  font-size: 70px;
}
.slider-desc {
  color: white;
  font-size: 14px;
  max-width: 60%;
}
.firstContent {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
}
.content-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}
.content-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-img {
  box-shadow: black 0px 0px 20px;
}
.content-title {
  font-size: 25px;
}
.content-desc {
  margin-top: 10px;
  margin-bottom: 20px;
}
.centerIt {
  display: flex;
  width: 100%;
  justify-content: center;
  height: fit-content;
}
.yellowBack {
  background-color: var(--yel);
  position: relative;
  height: 500px;
  z-index: 1;
}
.grayBack {
  background-color: var(--gray);
  color: white;
  padding-bottom: 20px;
}
.invisible2 {
  transform: scale(0.5);
  opacity: 0;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
  transition: 0.3s;
}
