:root {
  --red: #ff192e;
  --yel: #fbb30b;
  --gray: #555555;
}
#root {
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Didact Gothic", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.main {
  margin: 0px;
  padding: 0px;
  /* padding-top: 60px; */
  /* height: 100vh; */
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  max-width: 1730px;
}
h1 {
  margin: 0px;
}
.curve {
  margin: 0px;
  transform: translateY(-1px);
  position: absolute;
  top: 100%;
  z-index: -1;
}
.curve2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
a {
  text-decoration: none;
  color: white;
}
.containner {
  max-width: 100%;
  display: flex;
  /* align-items: center; */

  justify-content: center;
  overflow: hidden;
  padding-top: 20px;
  flex-wrap: wrap;
}
.addToCart {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.cartIconContainner {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  background-color: var(--yel);
  padding: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.342);
}
.animate {
  animation: 1s bounce;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.cartIcon {
  height: 40px;
  width: 40px;
}
.cartCount {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
  align-items: center;
  background-color: var(--red);
  border-radius: 50%;
}
.mobile-menu {
  display: none;
}
.yellow {
  color: var(--yel);
}
@media screen and (max-width: 400px) {
  .main {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    height: 100vh;
  }
  body {
    width: 100vw;
  }
  .navs {
    display: none;
  }
  .sliderBox {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .sliderContainner {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .slider-image {
    max-width: 100%;
    width: auto;
    margin-top: 0px;
  }
  .slider-img-holder {
    min-width: 100%;
  }
  .curve {
    display: none;
  }
  .curve2 {
    display: none;
  }
  .slider-title {
    font-size: 30px;
  }
  .firstContent {
    flex-direction: column;
    padding: 0px;
    width: 100vw;
  }
  .secondContent {
    flex-direction: column;
    padding: 0px;
    width: 100vw;
  }
  .content-title {
    margin: 10px;
  }
  .slider-subtitle {
    margin-top: 20px;
  }
  .content-desc {
    margin: 10px;
  }
  .content-image {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .content-image img {
    width: 80%;
  }

  .content-image .content-img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(66, 66, 66);
  }
  .motd {
    padding: 20px;
    width: auto;
  }
  .mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 5px;
    margin-bottom: 6px;
    margin-right: 10px;
  }
  .NavBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 60px;
  }
  .mobile-nav {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    color: gray;
  }
  .navSelectedM {
    background-color: var(--yel);
  }
  .slider-desc {
    max-width: 80%;
  }
}
