.sort-containner {
  height: 340px;
  background-color: var(--yel);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.category-containner {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.cat-content {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.2s;
}
.cat-content:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}
.cat-content {
  font-family: "Yellowtail", cursive;
}
.cat-img {
  position: absolute;
}
#cat1 {
  background-image: url("../assets/classic-canape-trio-90416-1.jpeg");
}
#cat2 {
  background-image: url("../assets/burgerAndFries.jpg");
}
#cat3 {
  background-image: url("../assets/my-favourite-cheese-cake-174222-2.jpg");
}
#cat4 {
  background-image: url("../assets/beverage.jpg");
}
#cat5 {
  background-image: url("../assets/pizza2.png");
}
.category {
  position: relative;
  flex: 1;
  margin: 10px;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  height: 300px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.card {
  height: 250px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgb(212, 212, 212);
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  margin: 10px;
}

.card-section1 {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.card-section2 {
  flex: 1;
  display: flex;
  /* background-color: rgb(240, 240, 240); */
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
}
.card-img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
}
.card-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}
.card-title {
  font-weight: bold;
  font-size: 20px;
}
.card-desc {
  font-size: 17px;
  color: grey;
}
.card-tags {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}
.card-tag {
  /* margin: 5px; */
  margin-right: 5px;
  margin-left: 5px;
  height: 35px;
}
.card-order {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-price {
  color: var(--red);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 10px;
  margin-right: 15px;
  justify-self: flex-end;
}
.cat-name {
  font-size: 30px;
  font-weight: bold;
  color: var(--yel);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.sub-cat-box {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-cat-name {
  background-color: white;
  padding: 20px;
}
.mid-seperator {
  position: absolute;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1200px;
  z-index: -1;
}
.ac-box {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.185);
  display: flex;
  flex-direction: column;
  transition: 0.2s ease-in-out;
}

.ac-topbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.ac-content {
  flex: 1;
  /* background-color: bisque; */
  display: flex;
  padding: 20px;
}
.ac-topbartitle {
  font-size: 18px;
  font-weight: bold;
  color: var(--yel);
}
.ac-img {
  max-height: 70%;
  max-width: 60%;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}
.ac-item {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.ac-calc {
  display: flex;
  flex: 1;
  max-width: 200px;
  flex-direction: column;
  justify-content: flex-end;
}
.ac-price {
  color: var(--red);
  margin-top: 10px;
  font-size: 18px;
}
.ac-total {
  font-weight: bolder;
  color: green;
  margin-top: 30px;
  font-size: 20px;
}
@media screen and (max-width: 450px) {
  .sort-containner {
    height: fit-content;
    padding-top: 120px;
  }
  .category {
    height: 70px;
    min-width: 150px;
  }
  .cat-content {
    font-size: 25px;
  }
  .containner {
    width: 100%;
  }
  .card {
    flex-direction: column;
    height: auto;
    width: 45%;
    margin: 5px;
  }
  .card-img {
    width: auto;
  }
  .card-section1 {
    padding-bottom: 0px;
    height: auto;
  }
  .card-section2 {
    padding-top: 10px;
  }
  .card-tags {
    margin: 0px;
  }
  .card-title {
    font-size: 18px;
    color: rgb(75, 75, 75);
  }
}
